.avatar{

     .avatar-sm{
        height: 2.5rem;
        width: 2.5rem;
    }

     .avatar-md{
        height: 3.5rem;
        width: 3.5rem;
    }

     .avatar-lg{
        height: 5.5rem;
        width: 5.5rem
    }

       .avatar-rounded{
        border-radius: 100vh;
    }
}
